NEXT_PUBLIC_SUPABASE_URL=https://giqkcfmovvpungjcbkyg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpcWtjZm1vdnZwdW5namNia3lnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMjU3NzYsImV4cCI6MjA4OTcwMTc3Nn0.TBI0JNw7t9_NrNkNrJb-4KBFQkz5LWt8ojFuVTOi6N0
ANTHROPIC_API_KEY=sk-ant-api03-PEGA_TU_CLAVE_AQUI
